{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}"/>
{% endblock %} 
{% block content %}
<h1>About BeautyMark Salon</h1>
<hr />
<p class="page-content">
  At BeautyMark, we redefine beauty standards with a unique and off-beat approach that celebrates individuality and creativity. Our salon is a sanctuary for those who dare to break the mold and embrace their true selves. With a team of the most talented stylists in the industry, we specialize in haircuts, styling, and coloring that are tailored to highlight your distinctive personality and style. Our experts stay ahead of the latest trends and techniques to ensure that every client leaves feeling confident and empowered. At BeautyMark, we believe that beauty is not one-size-fits-all—it's a bold statement of who you are. Come experience the difference and let us help you leave your mark!
</p>
{% endblock %}