{% block head %}
<link rel="stylesheet" href="{% static 'css/services/index.css' %}"/>
{% endblock %} 
{% block content %}

<section>
  <h1>My Appointments</h1>
</section>

<section class="card-container">
  {% for appointment in appointments %}
    <div class="card">
      {% comment %} <a href="/services/{{service.id}}"> {% endcomment %}
        <div class="card-content">
          <div class="card-img-container">
            <img src="{% static service.image %}" alt="{{ service.name }}">
          </div>
          <h2 class="card-title">{{ service.type }}</h2>
          <p> {{ service.cost }}</p>
          <p><small>{{ service.description }}</small></p>
          <h2> <a href="/appointments">Book Now!</a></h2>
          <input type="date"/>
        </div>
      </a>
    </div>
  {% endfor %}
</section>
<footer>
</footer>

{% endblock %}