

h1 {
    text-decoration: white;
    color: var(--text-color);
    font-weight: 600;
    font-size: 60px;
    font-family: 'Poppins';
  }

  p {
    text-decoration: white;
    color: var(--text-color);
    font-weight: 400;
    font-size: 50px;
    font-family: 'Poppins';
    line-height: 2;
  }

