button {
    font-size: var(--font-l);
    padding: 8px 16px;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    background-color: var(--button-bg);
    font-weight: 600;
    cursor: pointer;
    font-family: inherit;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: var(--button-bg-hover);
  }